$primary-color: #d3b47f;
$bg-clr: #3a4574;

body,
ul {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}
img {
  width: 100%;
}
ul > li {
  list-style: none;
}

.reserve {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
}
.reserve__img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.reserve__head {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  img {
    width: 30%;
  }
}
.reserve__content {
  width: 100%;
  max-width: 1024px;
}
.phone {
  i {
    color: $primary-color;
    font-size: 1.25em;
  }
  span {
    color: #ffffff;
  }
}
.reserve__time {
  margin-top: 10px;
  color: #ffffff;
  font-size: 0.8em;
}
.reserve__title {
  color: #ffffff;
  font-size: 1.3em;
  line-height: 1.3em;
  font-weight: 700;
}

.reserve__btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  button {
    padding: 8px 10px;
    background: $bg-clr;
    color: #ffffff;
    border: none;
    outline: none;
  }
  ul {
    display: flex;
    gap: 5px;
    li {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #ffffff;
      border: 1px solid #ffffff;
      border-radius: 50%;
      width: 18px;
      height: 18px;
      font-size: 0.8em;
    }
  }
}

.menu {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  img {
    width: 150px;
    height: 225px;
  }
}

.menu__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  .day {
    font-weight: 600;
    margin-bottom: 5px;
  }
  .dish {
    display: flex;
    align-items: center;
    font-size: 0.75em;
    margin-bottom: 5px;
    .dish__dots {
      height: 5px;
      width: 5px;
      background: $primary-color;
      border-radius: 50%;
      margin-left: 8px;
    }
    .dish__composition {
      margin-left: 8px;
    }
  }
  .line {
    height: 1px;
    background: #e7e7e7;
    width: 100%;
  }
}

.menu__img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 30px;
  padding: 40px;
  div {
    position: relative;
    width: 250px;
    height: 250px;
    border: 2px solid $primary-color;
  }

  .imgLeft {
    position: absolute;
    top: 30%;
    left: -15%;
  }
  .imgRight {
    position: absolute;
    bottom: 30%;
    right: -15%;
  }
}

.swiper__container {
  background: $bg-clr;
  padding: 10px 20px;
}

.swiper-slide {
  color: $primary-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  .swiper-slide__quotes {
    width: 10%;
  }
  .swiper-slide__title {
    margin-top: 10px;
    margin-bottom: 5px;
    width: 70%;
    text-align: center;
  }
  .swiper-slide__text {
    width: 70%;
    font-size: 0.8em;
    line-height: 1em;
    margin-bottom: 10px;
  }
  .swiper-slide__name {
    font-size: 0.9em;
    letter-spacing: 0.245em;
  }
}
.swiper-button-prev,
.swiper-button-next {
  color: $primary-color;
  &::after {
    font-size: 1.4em;
  }
}
.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  color: #ffffff;
  opacity: 1;
}
