$primary-color: #d3b47f;
$bg-clr: #3a4574;

.mask {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  min-width: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
  &.shadow {
    display: block;
  }
}

body {
  &.shadow {
    overflow: hidden;
  }
}

body,
ul {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}
img {
  width: 100%;
}
ul > li {
  list-style: none;
}

.reserve {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  background: center url(../img/head.png);
}

.reserve__head {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 154px;
  img {
    width: 30%;
  }
}
.head__menu__container {
  width: 25px;
  height: 25px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  .head__menu {
    position: relative;
    height: 2px;
    width: 25px;
    border-radius: 10px;
    background: $primary-color;
    ul {
      position: absolute;
      visibility: hidden;
      opacity: 0;
      left: 0px;
      top: 15px;
      background: #ffffff;
      transition: 0.3s;
      li {
        padding: 10px 20px;
        border-bottom: 1px solid #e7e7e7;
        color: $bg-clr;
        transition: 0.2s;
        &:hover {
          color: $primary-color;
        }
      }
      &.active {
        visibility: visible;
        opacity: 1;
      }
    }

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 10px;
      background: $primary-color;
      top: 7px;
      left: 0;
    }
    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 10px;
      background: $primary-color;
      top: -7px;
      left: 0;
    }
  }
}

.head__menu_desktop {
  display: none;
}
@media (min-width: 1024px) {
  html {
    font-size: 25px;
  }
  .head__menu,
  .head__menu__container {
    display: none;
  }
  .head__menu_desktop {
    display: flex;
    gap: 20px;
    color: #ffffff;
    li {
      font-size: 16px;
      cursor: pointer;
      transition: 0.2s;
      &:hover {
        color: $primary-color;
      }
    }
  }
}

.reserve__content {
  width: 100%;
  max-width: 1024px;
}
.phone {
  i {
    color: $primary-color;
    font-size: 1.25rem;
  }
  span {
    cursor: pointer;
    color: #ffffff;
    transition: 0.2s;

    &:hover {
      color: $primary-color;
    }
  }
}
.reserve__time {
  color: #ffffff;
  font-size: 0.8rem;
  margin-bottom: 24px;
}
.reserve__title {
  color: #ffffff;
  font-size: 1.3rem;
  line-height: 1.8rem;
  font-weight: 700;
}

.reserve__btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 265px;
  button {
    padding: 1rem 2rem;
    background: $bg-clr;
    color: #ffffff;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.2s;
    &:hover {
      box-shadow: 0 0 10px $bg-clr, 0 0 20px $bg-clr;
    }
  }
  ul {
    display: flex;
    gap: 0.5rem;
    li {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #ffffff;
      border: 1px solid #ffffff;
      border-radius: 50%;
      width: 1.2rem;
      height: 1.2rem;
      font-size: 0.8rem;
      cursor: pointer;
      transition: 0.2s;
      &:hover {
        color: $primary-color;
        border: 1px solid $primary-color;
      }
    }
  }
}
.formContainer {
  display: none;
  &.active {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 350px;
    left: 0;
    z-index: 20;
  }
}

.formReserve {
  width: 50%;
  margin: 0px auto;
  padding: 30px 40px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  input {
    border: 1px solid #ccc;
    padding: 10px;
    outline: none;
    &:hover,
    &:focus {
      border: 1px solid $bg-clr;
    }
  }
  button {
    background: $bg-clr;
    color: #fff;
    padding: 10px 30px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.2s;
    &:hover {
      box-shadow: 0 0 10px $bg-clr, 0 0 20px $bg-clr;
    }
  }
  #btnExit {
    background: #db8282;
    &:hover {
      box-shadow: 0 0 10px #db8282, 0 0 20px #db8282;
    }
  }
}

.menu {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
  max-width: 1024px;
  img {
    width: 10rem;
    height: 14rem;
  }
}

@media (min-width: 1024px) {
  .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px auto;
    max-width: 1024px;
  }
}

.menu__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  .day {
    font-weight: 600;
    margin-bottom: 5px;
  }
  .dish {
    display: flex;
    align-items: center;
    font-size: 0.75rem;
    margin-bottom: 5px;
    .dish__dots {
      height: 5px;
      width: 5px;
      background: $primary-color;
      border-radius: 50%;
      margin-left: 8px;
    }
    .dish__composition {
      margin-left: 8px;
    }
  }
  .line {
    height: 1px;
    background: #e7e7e7;
    width: 100%;
  }
}

.menu__img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 30px;
  padding: 40px;
  div {
    position: relative;
    width: 250px;
    height: 250px;
    border: 2px solid $primary-color;
  }

  .imgLeft {
    position: absolute;
    top: 30%;
    left: -15%;
  }
  .imgRight {
    position: absolute;
    bottom: 30%;
    right: -15%;
  }
}

.swiper__container {
  background: $bg-clr;
  padding: 220px 20px;
}

.swiper-slide {
  color: $primary-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  .swiper-slide__quotes {
    width: 10%;
  }
  .swiper-slide__title {
    margin-top: 10px;
    margin-bottom: 5px;
    width: 70%;
    text-align: center;
  }
  .swiper-slide__text {
    width: 70%;
    font-size: 0.8rem;
    line-height: 1rem;
    margin-bottom: 10px;
  }
  .swiper-slide__name {
    font-size: 0.9rem;
    letter-spacing: 0.245rem;
  }
}
.swiper-button-prev,
.swiper-button-next {
  color: $primary-color;
  &::after {
    font-size: 1.4rem;
  }
}
.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  color: #ffffff;
  opacity: 1;
}
