$primary-color: #d3b47f;
$bg-clr: #3a4574;

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}
img {
  width: 100%;
}
ul > li {
  list-style: none;
}

.reserve {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.reserve__img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.reserve__head {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 51px;
}
.reserve__content {
  width: 100%;
  max-width: 1024px;
}
.phone {
  i {
    color: $primary-color;
    font-size: 20px;
  }
  span {
    color: #ffffff;
  }
}
.reserve__time {
  margin-top: 124px;
  color: #ffffff;
  font-size: 24px;
}
.reserve__title {
  margin-top: 24px;
  color: #ffffff;
  font-size: 64px;
  line-height: 88px;
  font-weight: 700;
}

.reserve__btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  button {
    padding: 38px 65px;
    background: $bg-clr;
    color: #ffffff;
    border: none;
    outline: none;
    font-size: 18px;
  }
  ul {
    display: flex;
    gap: 25px;
    li {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #ffffff;
      border: 1px solid #ffffff;
      border-radius: 50%;
      width: 48px;
      height: 48px;
    }
  }
}

.menu {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 100px;
  margin-bottom: 200px;
  img {
    width: 323px;
    height: 486px;
  }
}

.menu__img {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  div {
    width: 471px;
    height: 502px;
    border: 2px solid $primary-color;
  }
  img {
    position: absolute;
  }
  .imgLeft {
    top: 150px;
    left: -100px;
  }
  .imgRight {
    bottom: 150px;
    right: -100px;
  }
}

.menu__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-right: 124px;
  .day {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .dish {
    display: flex;
    align-items: center;
    font-size: 18px;
    margin-bottom: 20px;
    .dish__dots {
      height: 5px;
      width: 5px;
      background: $primary-color;
      border-radius: 50%;
      margin-left: 12px;
    }
    .dish__composition {
      margin-left: 12px;
    }
  }
  .line {
    height: 1px;
    background: #e7e7e7;
    width: 100%;
  }
}

.swiper__container {
  background: $bg-clr;
  padding: 100px 100px;
}

.swiper-slide {
  color: $primary-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  .swiper-slide__title {
    font-size: 36px;
    margin-top: 34px;
    margin-bottom: 20px;
    width: 775px;
    text-align: center;
  }
  .swiper-slide__text {
    width: 775px;
    line-height: 40px;
    margin-bottom: 40px;
  }
  .swiper-slide__name {
    font-size: 24px;
    letter-spacing: 0.245em;
  }
}
.swiper-button-prev,
.swiper-button-next {
  color: $primary-color;
}
.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  color: #ffffff;
  opacity: 1;
}
